@use 'color' as *;
@use 'mixin' as *;

* {
    font-family: $font-family;
}

.icalingua-theme-holder {
    background-color: $dark;
}

::selection {
    background-color: $text-selected;
    color: $text;
}

::-webkit-scrollbar {
    background-color: rgba(white, .1);
    border-radius: $radius-full;

    &:hover {
        background-color: rgba(white, .15);
    }
}

::-webkit-scrollbar-thumb {
    background-color: rgba(white, .2) !important;
}