@use 'sass:color';

// 来自 Typst
$typ-gray: #aaaaaa; // 太亮
$typ-silver: #dddddd; // 太亮
$typ-navy: #001f3f; // 太暗
$typ-blue: #0074d9; // 太暗
$typ-aqua: #7fdbff; // 太亮
$typ-teal: #39cccc;
$typ-eastern: #239dad; // 太暗
$typ-purple: #b10dc9; // 太暗
$typ-fuchsia: #f012be;
$typ-maroon: #85144b; // 太暗
$typ-red: #ff4136; // 太亮
$typ-orange: #ff851b;
$typ-yellow: #ffdc00;
$typ-olive: #3d9970; // 太暗
$typ-green: #2ecc40;
$typ-lime: #01fe70;

// 来自 Telegram
$tg-gray: #697b97;
$tg-blue: #5288c1;
$tg-aqua: #58bfe8; // 太亮
$tg-purple: #917bbd;
$tg-maroon: #aa6084;
$tg-red: #ab5149;
$tg-orange: #a46d3c; // 太暗
$tg-yellow: #9b834b; // 太暗
$tg-green: #466f42; // 太暗

$base: $tg-blue;

@function adjust($h, $s, $l) {
    @return color.adjust($base, $hue: $h, $saturation: $s, $lightness: $l);
}

$light: adjust(-1deg, -17%, -40%);
$dark: adjust(4deg, -5%, -45%);
$theme: adjust(-3deg, 40%, 20%);

$search: adjust(3deg, -20%, -30%);
$border: adjust(1deg, -1%, -45%);

$icon: adjust(-2deg, -40%, -7%);
$icon-hover: adjust(-.5deg, -45%, 20%);

$room-hover: adjust(-.5deg, -20%, -35%);
$room-bubble: adjust(-.5deg, -20%, -20%);
$room-selected: adjust(-2deg, 0%, -20%);
$room-selected-bubble: adjust(-2deg, -4%, 10%);

$msg: adjust(.5deg, -10%, -35%);
$msg-selected: adjust(-4.5deg, 10%, -10%);
$msg-own: adjust(-2deg, 0%, -20%);

$toast-bubble: adjust(-3deg, 2%, -5%);

$button: adjust(-3deg, 8%, -10%);
$button-hover: adjust(-5deg, 6%, -8%);

$text: white;
$text-dark: adjust(-2deg, -30%, -5%);
$text-dark-own: adjust(-1deg, 2%, 12%);
$text-dark-focus: adjust(-1deg, -30%, -15%);

$info: #74b9ff;
$success: #78e08f;
$warning: #f6e58d;
$error: #ff7979;