@use 'color' as *;
@use 'mixin' as *;

[aria-label='联系人'] {
    @include box(0 0 55px, $bg-color: $light, $shadow: $box-shadow);
    margin: 50vh auto 0 !important;
    transform: translateY(-50%);
    max-width: 360px;

    .dialog:has(> &) {
        overflow: hidden;
    }

    > .el-dialog__header {
        background-color: $light;
        padding: 13px 25px;
        border-radius: $box-radius;

        // 标题
        > .el-dialog__title {
            @include text($weight: bold, $size: $font-size-big);
        }

        // 关闭按钮
        > button {
            @include text-button('关闭');
            top: unset;
            bottom: 10px;
            right: 10px;

            > .el-dialog__close {
                display: none;
            }
        }
    }

    > .el-dialog__body {
        padding: 0;
        overflow: hidden;
        background-color: $light;

        // 搜索栏
        .contacts-head-container {
            background-color: $light;
            padding: 0 13px 2px;

            > .contacts-head {
                margin-right: 0;

                // 搜索图标
                .el-input__prefix {
                    transform: scale(-1, 1);
                    top: 1px;
                    left: 0;

                    > .el-icon-search {
                        color: $icon;

                        &:hover {
                            color: $icon;
                        }
                    }
                }

                // 搜索框
                .el-input__inner {
                    @include input;
                    background-color: $light;
                    padding: 0 35px 0 33px;
                    height: 42px;
                }

                // 取消搜索
                .el-input__suffix .el-input__icon {
                    @include icon;
                    margin-right: -9px;

                    &::before {
                        content: '×';
                        font-size: 30px;
                    }
                }

                // 刷新按钮
                > .el-icon-refresh-right {
                    @include text-button('刷新');
                    position: absolute;
                    left: 10px;
                    bottom: 10px;
                    margin: 0;

                    &::before {
                        display: none;
                    }
                }
            }
        }

        .contacts-content {
            @include auto-hide-scrollbar;

            // 类别
            .el-tabs__header {
                position: absolute;
                top: 6px;
                right: 25px;

                > .el-tabs__nav-wrap {

                    &::after {
                        display: none;
                    }

                    .el-tabs__nav {
                        justify-content: center;

                        > .el-tabs__active-bar {
                            display: none;

                            + .el-tabs__item {
                                margin-right: 15px;
                            }
                        }

                        > .el-tabs__item {
                            @include text($text-dark, $weight: bold);
                            transition: color .2s;
                            flex: unset;

                            &.is-active {
                                color: $theme;
                            }
                        }
                    }
                }
            }

            // 好友列表、群列表
            #pane-friends,
            #pane-groups {

                * {
                    @include text;
                }

                // 好友组
                .el-collapse-item__header {
                    background-color: $light;
                    @include text($weight: bold);
                    height: 35px;
                    padding: 0 15px;
                }

                // 好友/群
                .contact-entry-root {
                    background-color: $light;
                    transition: background-color;
                    padding: 0 18px;
                    height: 51px;

                    &:hover {
                        background-color: $room-hover;
                    }

                    > .contact-entry-entry {
                        padding: 0;

                        // 头像
                        > .contact-entry-left {
                            padding: 0;
                            margin-top: 5px;

                            > .el-avatar {
                                height: 42px;
                                width: 42px;
                            }
                        }

                        // 信息
                        > .contact-entry-right {
                            margin-left: 10px;

                            .contact-entry-name,
                            .contact-entry-rawname {
                                font-weight: bold;
                            }

                            .contact-entry-rawname,
                            .contact-entry-desc {
                                color: $text-dark;
                            }
                        }
                    }
                }
            }
        }
    }
}