@use 'color' as *;
@use 'mixin' as *;

.panel-right {
    padding: 0;
    border-left: $border;
    background-color: $light;

    @media screen and (max-width: 1200px) {
        bottom: 58px;
        right: 15px;
        box-shadow: $shadow;
        border-left: none;

        > .bg {
            border-radius: $radius;

            > .head,
            #Categories {
                border-radius: $radius;
            }
        }
    }

    > .bg {
        background-color: $light;

        // 无表情
        .empty {
            @include text($text-dark);
            padding: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            > button {
                @include button;
            }
        }

        // 类别
        > .head {
            background-color: $light;
            min-height: 35px;
            max-height: 35px;
            padding-bottom: 7px;
            border-bottom: $border;

            > .title {
                text-align: center;

                > a {
                    @include text($text-dark);
                    padding-bottom: 10px;
                    margin-right: 15px;
                    transition: color .2s, border-bottom .2s;

                    &.selected {
                        color: $theme;
                        border-bottom: 3px solid $theme;
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            .opinion {
                margin-top: 5px;

                &:hover {
                    transform: none;
                    opacity: 1;
                }

                > .el-icon-more {
                    @include icon;
                    transform: rotate(90deg) scale(1.1);
                }
            }
        }

        // 贴纸
        > .stickers_dir {
            background-color: $light;
            justify-content: center;
            margin: 8px 0;

            a {
                @include text($text-dark);
                transition: color .2s;

                &.selected {
                    color: $theme;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        // 表情包
        > .face-panel,
        > .face-panel + .panel {
            padding: 0;
            margin: 8px;

            > .subheader {
                @include text($text-dark);
                margin-left: 7px;

                &:first-child {
                    margin-top: 0;
                }
            }

            > .grid {
                margin: 0;

                > div {
                    background-color: $light;

                    > img {
                        background-color: $light;
                        border: none;
                        padding: 4px;
                        border-radius: $radius-small;

                        &:hover {
                            background-color: $room-hover;
                        }
                    }
                }
            }

            &::-webkit-scrollbar {
                width: 3.5px;
            }
        }

        > .face-panel > .grid {
            grid-template-columns: repeat(8, 1fr);

            img {
                width: 34px;
                height: 34px;
            }
        }

        > .face-panel + .panel > .grid {
            grid-template-columns: repeat(4, 1fr);

            img {
                width: 75px;
                height: 75px;
            }
        }

        // Emoji
        > .emoji-panel {
            margin: 8px 8px 36px;

            // 类别
            @at-root #Categories {
                background-color: $light;
                position: absolute;
                left: 0;
                bottom: 0;
                padding: 4px 0;
            }

            .category {
                padding: 0;
                filter: none;
                border-bottom: none;

                svg {
                    display: block;
                    fill: $icon;
                    width: 18px;
                    height: 18px;
                    padding: 5px;
                    border-radius: $radius-small;
                }

                &.active svg {
                    fill: $icon-hover;
                    background-color: $room-hover;
                }
            }

            // 搜索框
            .container-search {
                margin: 2px 0;
                padding: 0;

                > input {
                    @include box(0 20px 3px, $radius-full, $search);
                    @include input;
                    height: 33px;
                }
            }

            // 网格
            .container-emoji {
                margin: 5px 0;

                > .grid-emojis {
                    grid-template-columns: repeat(8, 1fr) !important;
                    margin: 0;

                    > .emoji {
                        font-size: 22px !important;
                        height: 32px !important;
                        width: 32px !important;
                        padding: 0;

                        &:hover {
                            transform: none;
                            background-color: $room-hover;
                        }
                    }
                }

                &::-webkit-scrollbar {
                    width: 3.5px !important;
                }
            }
        }
    }
}