@use 'color' as *;
@use 'mixin' as *;

.vac-room-footer {
    border-top: $border;
    background-color: $light;

    // 要回复的消息
    > .vac-reply-container {
        background-color: $light;
        padding: 8px 15px;

        // 消息卡
        > .vac-reply-box {
            @include box(4px, $radius-small, $light);
            border-radius: 0;
            padding: 0;

            * {
                @include text;
            }

            > .vac-image-reply {
                width: 33px;
                height: 33px;
            }

            .vac-reply-username {
                margin-bottom: 0;
                font-weight: $bold;
                color: $theme;
            }

            .vac-reply-content a {
                color: $theme;

                * {
                    color: $theme;
                }
            }
        }

        // 取消回复
        .vac-svg-button {
            @include svg-icon('#vac-icon-close-outline');
            margin-right: 10px;
        }
    }

    // 转发栏
    > .vac-forward-container {
        background-color: $light;
        padding: 0;
        width: 100%;
        height: 54px;
        transform: none;

        position: absolute;
        top: 0;
        left: 0;

        // 转发按钮
        > .vac-forward-box > button {
            @include button($padding, $radius-small);
        }

        // 取消转发
        > .vac-icon-forward {
            margin: -1px 10px 0;

            > .vac-svg-button {
                @include text-button('取消');
                padding: 10px;
                transform: none;
                opacity: 1;

                > svg {
                    display: none;
                }
            }
        }

        // 转发数量
        .vac-selected-counter {
            @include text;
            background-color: $light;
            box-shadow: none;
            top: 16px;
            right: 65px;
            padding: 10px 3px;
        }
    }

    // 编辑重发
    > :not([class]) {
        @include text($text-dark !important);
        background-color: $light;
        padding-top: 5px !important;
    }

    > .vac-reply-container + :not([class]) {
        padding-top: 0 !important;
    }

    // 输入栏
    > .vac-box-footer {
        background-color: $light;
        padding: 0;

        // 输入框
        > .vac-textarea {
            @include input;
            background-color: $light;
            margin: 0 0 4px 38px;
            padding: 11px 12px;

            // 编辑重发
            &.vac-textarea-outline {
                border: none;
                box-shadow: none;
            }
        }

        // 文件
        > .vac-file-container {
            background-color: transparent;
            margin-left: 50px;
            padding: 13px 0;

            > .vac-icon-file-room {
                margin-left: 0;

                #vac-icon-file {
                    fill: $base;
                }
            }

            > .vac-file-message-room {
                @include text;
                padding-bottom: 2px;
            }

            > .vac-icon-remove {
                @include svg-icon('#vac-icon-close');
            }
        }

        // 媒体
        > .vac-media-container {
            margin: -5px 0 0 28px;

            > .vac-svg-button {
                @include svg-icon('#vac-icon-close-image');
            }
        }

        // 按钮
        > .vac-icon-textarea {
            margin: 0;
            padding: 0 3px 12px 0;

            // 无法发送
            > .vac-send-disabled {
                display: none;
            }

            svg {
                margin: 0 10px;
            }

            .vac-svg-button {
                opacity: 1;

                // 文件
                &:has(#vac-icon-paperclip) {
                    @include svg-icon('#vac-icon-paperclip');
                    transform: rotate(-135deg) scaleX(1.25);
                    position: absolute;
                    left: 12px;
                    bottom: 11px;

                    > svg {
                        margin: 0;
                    }
                }

                // 退出编辑重发
                &:has(#vac-icon-close-outline) {
                    @include svg-icon('#vac-icon-close-outline');
                }

                // 表情
                &:has(#vac-icon-emoji) {
                    @include svg-icon('#vac-icon-emoji');
                }

                // 发送
                &:has(#vac-icon-send) {
                    @include svg-icon('#vac-icon-send', $base, $base);
                }
            }
        }
    }
}

// 上传文件弹出框
[role='tooltip']:has(> button) {
    @include box(5px 0, $color: $light, $shadow: $shadow);
    min-width: 0;
    overflow: hidden;

    > :not([class]) {
        display: none;
    }

    > button {
        @include text;
        display: block;
        border: none;
        border-radius: 0;
        padding: 10px 20px;
        transition: none;

        &:hover {
            background-color: $room-hover;
        }

        .el-icon-picture-outline,
        .el-icon-paperclip {
            margin-right: 10px;
        }

        .el-icon-picture-outline {
            transform: scale(1.5);
        }

        .el-icon-paperclip {
            transform: rotate(-90deg) scale(-1.5, 1.5);
        }
    }

    > .popper__arrow {
        border-color: transparent;

        &::after {
            border-top-color: $light;
        }
    }
}