@use 'color' as *;
@use 'mixin' as *;

.rooms-panel > .root {
    background-color: $light;
    border-right: $border;

    // 搜索栏
    > .head {
        background-color: $light;
        min-height: 54px;
        height: 54px;
        padding: 0 12px;

        // 头像
        .el-avatar {
            margin-top: 4px;
            width: 35px;
            height: 35px;
        }

        > .el-input {
            margin-left: 12px;

            // 搜索框
            > .el-input__inner {
                @include box(0 32px 2px 17px, $box-radius-full, $search);
                @include input;
                height: 35px;
            }

            // 搜索图标
            > .el-input__prefix {
                display: none;
            }

            // 取消搜索
            > .el-input__suffix .el-input__icon {
                @include icon;
                margin-top: -4px;

                &::before {
                    content: '×';
                    font-size: 27px;
                }
            }
        }

        // 好友列表
        > .el-icon-user {
            @include icon;
        }
    }

    // 对话列表
    > .content {
        @include auto-hide-scrollbar;

        .root {
            background-color: $light;
            transition: background-color;
            padding: 0 8px;

            &:hover {
                background-color: $room-hover;

                .entry > .right .el-badge > .el-badge__content {
                    background-color: $room-hover-bubble;
                }
            }

            &.selected {
                background-color: $room-selected;

                .entry > .right {

                    :not(.el-badge > .el-badge__content),
                    .desc > span {
                        color: $text !important;
                    }

                    .el-badge > .el-badge__content {
                        background-color: $room-selected-bubble;
                        color: $room-hover;
                    }
                }
            }

            > .entry {
                height: 42px;

                > .left {

                    // 头像
                    .el-avatar {
                        width: 46px;
                        height: 46px;
                        margin-top: 1px;
                    }

                    // @
                    .el-badge__content {
                        @include box(0 5px, $box-radius, $error);
                        @include text($size: $font-size-small);
                        font-family: $font-family;
                        top: 5px;
                        right: 15px;
                    }
                }

                > .right {
                    margin: 0 5px 0 12px;

                    // 群名
                    .name {
                        @include text;
                    }

                    // 通知图标
                    .icon {
                        color: $text-dark;
                        padding-top: 2px;
                    }

                    // 最新消息时间
                    .timestamp {
                        color: $text-dark;
                        font-size: $font-size;
                    }

                    // 最新消息内容
                    .desc {
                        @include text($text-dark);

                        > span {
                            color: $theme !important;
                        }
                    }

                    // 新消息数量
                    .el-badge {
                        margin-top: -3px;
                        margin-right: -3px;

                        > .el-badge__content {
                            @include box(0 5px, $box-radius, $room-bubble);
                            @include text($size: $font-size-small);
                            font-family: $font-family;
                        }
                    }
                }
            }
        }
    }
}